<div class="container">

    <h1>Student Certificate Form</h1>
    
    <form action=cert_form/submit method="POST">
        <label for="fname" class="col-lg-2 control-label">First Name</label>
        <input id="fname" name = "fname" value = "Vivek" type="text">

        <label for="lname" class="col-lg-2 control-label">Last Name</label>
        <input id="lname" name = "lname" value = "Maran" type="text">

        <label for="course" class="col-lg-2 control-label">Course</label>
        <input id="course" name = "course" value = "MS" type="text">

        <label for="stream" class="col-lg-2 control-label">Stream</label>
        <input id="stream" name = "stream" value = "CMPE" type="text">

        <label for="date" class="col-lg-2 control-label">Date</label>
        <input id="date" name = "date" value = "2020-01-01" type="date">

        <button id="button">Generate certifiate</button>
    </form>
</div>

<script>
    // Our future code here..
</script>
