<img src="data:image/jpeg;base64, {{cert_image}}" alt="Red dot"/>
<p> <b>Contract Address:</b> {{contract_address}}</p>
<p> <b>Student public key:</b> {{stud_pub_key}}</p>
<button id="button">Verify certificate</button>
