<div class="container">

    <h1>Student Certificate Form</h1>
    
    <form action=cert_form/submit method="POST">
        <label for="fname" class="col-lg-2 control-label">First Name</label>
        <input id="fname" name = "fname" value = "" type="text">

        <label for="lname" class="col-lg-2 control-label">Last Name</label>
        <input id="lname" name = "lname" value = "" type="text">

        <label for="course" class="col-lg-2 control-label">Course</label>
        <input id="course" name = "course" value = "" type="text">

        <label for="stream" class="col-lg-2 control-label">Stream</label>
        <input id="stream" name = "stream" value = "" type="text">

        <label for="date" class="col-lg-2 control-label">Date</label>
        <input id="date" name = "date" value = "" type="date">

        <label for="stud_pub_key" class="col-lg-2 control-label">Student Public Key</label>
        <input id="stud_pub_key" name = "stud_pub_key" value = "0x5bCD889F166D4811252f35a963e5304F73e10b66" type="text">

        <button id="button">Generate certifiate</button>
    </form>
</div>

<script>
    // Our future code here..
</script>
